/* * {
    border: 2px dotted rgb(255, 7, 7);
} */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Russo+One&display=swap');
body {
    background-color: blanchedalmond;
}
/* .profilePic{
box-shadow: 15px 15x black;
} */

.container{
    display: flex;
    margin: 25px 10px 50px 50px ;
}
.container img{
    margin-right: 20px;
    border-radius: 4%;
}
.heading {
    font-size: 25px;
    font-family: "Aton, russo"; 
    margin-top: 30px;
    animation: color-chnage 1s infinite;
    -webkit-animation: color-change 1s infinite;
    -moz-animation: color-change 1s infinite;
    -o-animation: color-change 1s infinite;
    -ms-animation: color-change 1s infinite;
    animation: color-change 1s infinite;
    position: relative;
    text-align: center;
}

@keyframes color-change {
    0% {color: red}
    50% {color: green}
    100% {color: blue}
}



.nav {
    height: 100px; 
    width: 100%;
    text-align: center;
    margin-top: 30px;
    flex-direction: row;
    
    
    
    
} 


.nav li{
    text-decoration: none;
    color: black;
    padding: 5px;
    list-style: none;
    animation: color-chnage 1s infinite;
    -webkit-animation: color-change 1s infinite;
    -moz-animation: color-change 1s infinite;
    -o-animation: color-change 1s infinite;
    -ms-animation: color-change 1s infinite;
    animation: color-change 1s infinite;
    text-align: center;


}
@keyframes color-change {
    0% {color: red}
    50% {color: green}
    100% {color: blue}
}
    
.aboutMe{
    text-decoration-line: none;
    height: 150px;
    text-align: center;
    color: whitesmoke;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    border-style: dashed;
    border-width: 4px;
    text-align: justify;
    font-size:22px;
    
} 
.skills {
    border-style: dashed;
    border-width: 4px;
    text-align: justify;
    color: whitesmoke;
    width: 400px;
    height: 250px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}


@media(max-width: 500px){
    .profilePic{
        width: 40%;
        margin-left: 3px;
        position:relative;
    }
    .heading{
        font-size: medium;
        font-size: 15px;
        margin: 0px 0px 0px 0px;
    }
    .resume {
        color: aqua;
    }
    .nav   {
        margin: 5px 5px 5px 5px;
        height: 40px;
    }
    .nav button {
        color: aqua;
        background-color: rgb(0, 255, 255, .5);
        border-radius: 6px;
    }
    .aboutMe{
        height: 100px;
        padding:0;
        font-size: 10px;
        padding: 4px;

    }
    .skills{
        width: 100px;
        height: 120px;
        font-size: 10px;
        display: inline-flexbox;
        margin-left: 0;
        flex-wrap: wrap;
        
    }
    .skillsLi{
        text-align: left;
    }
    
    footer{
        size: 5px;
    }
    }

footer{
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-align: center;
    
}

.page-2 {
    display: none;
}

.page-3 {
    display: none;
}